@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&family=Indie+Flower&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Prociono&display=swap');
.footer{
    height: 80px;
    margin-left: 0;
    background-color: #003C56;
    color: #F3A258;
    font-size: 15px;
    font-family: "Indie Flower", serif;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}

.dev{
    color: #F3A258;
    text-decoration: none;    
    font-family: "Indie Flower", serif;
}
