*{
    list-style: none;
    text-decoration: none;
}
body {
    font-family: Arial, sans-serif;
    background-color: #FCF3E4;
    color: #000000;
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: inherit;
}

.header {
    background-color: #013C5A;
    text-align: center;
    padding: 20px;
    text-decoration: none;
}


nav ul {
    text-decoration: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
    text-decoration: none;
}

link{
    text-decoration:none;
    color: inherit;
}

nav li {
    text-decoration: none;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    color:#dcfef9;
}



nav li:hover{
    color: #F3A258;
    font-style:italic;
    font-size: larger;
}

.header img{
    height: 180px;
    margin-left: auto;
    flex-direction: row;
}